<!--The double curly braces are Angular's interpolation binding syntax. This interpolation binding presents the component's title property value inside the HTML header tag.-->
<h1>{{title}}</h1>

<!--The routerLink is the selector for the RouterLink directive that turns user clicks into router navigations.
It's another of the public directives in the RouterModule-->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<!--The <router-outlet> tells the router where to display routed vi-->
<!--The RouterOutlet is one of the router directives that became available to the AppComponent
because AppModule imports AppRoutingModule which exported RouterModule.-->
<router-outlet></router-outlet>
<app-messages></app-messages>
