<iframe class="file-previewer" [src]="sanitizer.bypassSecurityTrustResourceUrl('https://docs.google.com/viewer?url='+fileUrl+'&embedded=true')"
        frameborder="0"></iframe>
<!--<br>-->
<!--<iframe class="file-previewer" [src]="sanitizer.bypassSecurityTrustResourceUrl('https://view.officeapps.live.com/op/embed.aspx?src='+encodeURIComponent(fileUrl))"-->
        <!--frameborder="0"></iframe>-->

