.file-previewer-modal{
  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .modal-content {
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 0;
    .modal-header{
      height: 50px;
    }
    .modal-body{
      height: calc(100% - 200px);
    }
    .modal-footer{
      height: 50px;
    }
  }
}

