<!--The word uppercase in the interpolation binding, right after the pipe operator ( | ), activates the built-in UppercasePipe.

Pipes are a good way to format strings, currency amounts, dates and other display data. Angular ships with several built-in pipes and you can create your own.-->

<h2>My Heroes</h2>

<ul class="heroes">
  <!--Don't forget the asterisk (*) in front of ngFor. It's a critical part of the syntax.-->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>

  </li>
</ul>

<!--[hero]="selectedHero" is an Angular property binding.-->
<!--It's a one way data binding from the selectedHero property of the HeroComponent to the hero property of the target element,
 which maps to the hero property of the HeroDetailComponent.-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
